<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>SimpleJHoleServlet</servlet-name>
        <servlet-class>jhole.server.SimpleJHoleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleJHoleServlet</servlet-name>
        <url-pattern>/simple/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Exception Formatter</filter-name>
        <filter-class>jhole.server.ExceptionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Exception Formatter</filter-name>
        <servlet-name>SimpleJHoleServlet</servlet-name>
    </filter-mapping>


    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>all</web-resource-name>-->
            <!--<url-pattern>/*</url-pattern>-->
        <!--</web-resource-collection>-->
        <!--<auth-constraint>-->
            <!--<role-name>jhole-user</role-name>-->
        <!--</auth-constraint>-->
    <!--</security-constraint>-->

    <!--<login-config>-->
        <!--<auth-method>DIGEST</auth-method>-->
        <!--<realm-name>JHole</realm-name>-->
    <!--</login-config>-->

    <!--<security-role>-->
        <!--<role-name>jhole-user</role-name>-->
    <!--</security-role>-->
</web-app>
